<svg xmlns="http://www.w3.org/2000/svg" class="app-icons">
    <defs>
        <marker id="end" viewBox="0 -5 10 10" refX="15" refY="-1.5" markerWidth="6" markerHeight="6" orient="auto">
            <path d="M0,-5L10,0L0,5"></path>
        </marker>
    </defs>
</svg>
<div *ngIf="!loading">
    <graph [nodes]="nodes" [links]="links"></graph>
</div>

<div class="graph-editor">
    <button (click)="addNode()">Add node</button>
    <button (click)="addLink()">Add link</button>
    <button (click)="reset()">Reset</button>
</div>